.category-item {
  padding-top: 120px;
  background-size: cover !important;
  background-position: center center;
  .title {
    text-align: center;
    color: #fff;
    background: rgba(155, 155, 155, 0.93);
    font-size: 24px;
    padding: 10px 15px;
    font-weight: normal;
  }
}